{
  "env": {
    "browser": true,
    "node": true
  },
  "extends": ["airbnb/base"],
  "rules": {
    "no-underscore-dangle": "off",
    "no-param-reassign": 0,
    "no-plusplus": "off",
    "max-len": "off",
    "linebreak-style": "off",
    "prefer-destructuring": "off"
  }
}
